name: Rust Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Nix package manager
      uses: DeterminateSystems/nix-installer-action@main

    - name: Build
      run: nix develop --command cargo build --verbose

    - name: Run tests
      run: nix develop --command cargo test --verbose
